sudo: false
language: node_js
node_js:
  - "0.11"
  - "0.10"
before_script: 
 - npm install -g codeclimate-test-reporter
 - npm install -g istanbul
script: istanbul cover -v test/run.js 
after_script:
 - codeclimate < coverage/lcov.info
addons:
 code_climate:
  repo_token: 85d4b208560ba891c04452a8468d0e0c5033bfae5ad79a41c3f0de6da3adb867
matrix:
 allow_failures:
  - node_js: "0.11"